<%- include('assets/header.ejs'); %>
<%- include('assets/navbar.ejs'); %>

<div class="aboutme__wrapper">
    <img class="avatar boxshadow" src="../images/styles/avatarimage.gif" alt="Avatar">

    <div class="aboutme__text__wrapper">
      <h1 class="aboutme__title">Über mich</h1>

      <p class="aboutme__text textshadow">
        <b style="font-weight: 400;">Samuel Biebel</b> ist ein aufsteigender Künstler aus Frankfurt am Main.
        Geboren und aufgewachsen ist er in der Arbeiterstadt Ludwigshafen am Rhein.
        Die Technik von <b style="font-weight: 400;">Pillen auf Leinwand</b> ist einzigartig.<br>
        Er verbindet <b style="font-weight: 400;">Kunst und Medikamente</b> auf eine ganz eigene und neue Art und Weise.
        Mit der Serie medication&addiction möchte er einerseits ästhetisch schöne Werke schaffen,<br>
        jedoch andererseits auf den mittlerweile fast alltäglichen Konsum von Tabletten/Medikamenten aufmerksam machen.<br>
        Viele der verwendeten Tabletten sind abgelaufen und wurden aus Restbeständen von verschiedensten Menschen bereitgestellt.
        Durch die weite Bandbreite hatte jeder eine große Auswahl an diversen Medikamenten und zeigte somit
        die beinahe alltägliche Selbstverständlichkeit von Medikamenten in unserem Leben auf.</p>
    </div>
</div>

<%- include('assets/footer.ejs'); %>
