<%- include("assets/header.ejs"); %>
<%- include("assets/navbar.ejs"); %>

<div class="events__wrapper">
  <div class="events__exhibitions__wrapper events__wrapper__item">
    <h3 class="events__title">Ausstellungen</h3>
  </div>

  <div class="events__partys__wrapper events__wrapper__item">
    <h3 class="events__title">Partys</h3>
  </div>
</div>

<%- include("assets/footer.ejs"); %>
