<%- include('assets/header.ejs'); %>
<%- include('assets/navbar.ejs'); %>

<div class="impressum__wrapper">
  <h1>Impressum / Datenschutz</h1>
  <div class="impressum__content">
    <p><small>
      Angaben gemäß § 5 TMG<br>
      Samuel Biebel<br>
      Mainzer Landstraße 405<br>
      60326 Frankfurt am Main<br><br>
      Kontakt:<br>
      Telefon: 017624834860<br>
      E-Mail: kontakt@samuelbiebel.de<br>
    </small></p><br><br>
    <h4>Haftungsausschuss</h4><br><br>
    <h5 class="impressum__title">Haftung für Inhalte</h5>
    <p><small>
      Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit<br>
       und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter<br>
       sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen<br>
       verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,<br>
       übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu<br>
       forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder<br>
       Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon<br>
       unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer<br>
       konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen<br>
       werden wir diese Inhalte umgehend entfernen.
    </small></p><br><br>

    <h5 class="impressum__title">Urheberrecht</h5>
    <p><small>
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem<br>
      deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der<br>
      Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung<br>
      des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den<br>
      privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom<br>
      Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden<br>
      Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung<br>
      aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von<br>
      Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
    </small></p><br><br>

    <h5 class="impressum__title">Datenschutz</h5>
    <p><small>
      Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.<br>
      Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-<br>
      Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten<br>
      werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.<br>
      Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-<br>
      Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch<br>
      Dritte ist nicht möglich.<br>
      Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte<br>
      zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien<br>
      wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich<br>
      rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch<br>
      Spam-Mails, vor.
    </small></p>
  </div>

  <!-- <div class="dsgvo__content">
    <p id="dsgvo__contactform">Ich habe die Datenschutzerklärung zur Kenntnis genommen.<br>
    Ich stimme zu, dass meine Angaben und Daten zur Beantwortung<br>
    meiner Anfrage elektronisch erhoben und gespeichert werden.<br><br>
    <small>Hinweis: Sie können Ihre Einwilligung jederzeit für die Zukunft per E-Mail an kontakt@samuelbiebel.de widerrufen.</small></p>
  </div> -->
</div>

<%- include('assets/footer.ejs'); %>
