<%- include('../assets/header.ejs'); %>
<%- include('../assets/navbar.ejs'); %>

<div class="medicationandaddiction__wrapper">
  <div class="galery__header--medicationandaddiction">
    <img class="galery__header--medicationandaddiction--img dropshadow" src="../images/carousel/thumbnail-c1.png">

    <a class="galery__header--medicationandaddiction--btn btn dropshadow" target="_blank" href="../images/pdf/portfolio-ruepel.pdf">Katalog herunterladen <span class="fa-solid fa-file-pdf"></span></a>
  </div>
  <div class="picture__wrapper galery__wrapper--medicationandaddiction">
  </div>
</div>

<%- include('../assets/footer.ejs'); %>
