<!-- SLIDESHOW -->
<div class="carousel">
  <!-- SLIDE 1 -->
  <div class="carousel__slide fade">
    <img class="carousel__image" src="images/carousel/thumbnail-c1.gif" alt="Entdecken Sie die Serie medication&addiction von Samuel Biebel aka. Ruepel." title="medication&addiction">
    <h6 class="carousel__description">Entdecken Sie meine Serie <a href="/galerie/medicationandaddiction"><font color="#22a6b3">medication&addiction</font></a> im Katalog.</h6>
    <a target="_blank" href="./images/pdf/portfolio-ruepel.pdf">
      <button class="carousel__btn btn drop-shadow hover" type="button" name="catalog__download">
        Katalog herunterladen <span class="fa-solid fa-file-pdf"></span></button></a>
    <!-- <div class="carousel__caption">Beispieltext 1</div> -->
  </div>

  <!-- SLIDE 2 -->
  <div class="carousel__slide fade">
    <img class="carousel__image" src="images/carousel/thumbnail-c2.gif" alt="Spenden Sie Pillen für weitere Projekte von Samuel Biebel aka. Ruepel." title="Pillen spenden">
    <h6 class="carousel__description">Sie haben Restbestände oder abgelaufene Pillen?</h6>
    <a href="/kontakt"><button class="carousel__btn btn drop-shadow hover" type="button" name="send__pills">
      Pillen spenden <span class="fa-solid fa-tablets"></span></button></a>
    <!-- <div class="carousel__caption">Beispieltext 2</div> -->
  </div>

  <!-- The dots/circles -->
  <div class="dot__wrapper">
    <span class="dot"></span>
    <span class="dot"></span>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev drop-shadow">&#10094;</a>
  <a class="next drop-shadow"">&#10095;</a>
</div>
<br>
