<div class="footer flex__end">
  <marquee class="footer__marquee">Alle Werke sind nicht zum Verzehr geeignet und müssen unzugänglich für Kinder und Tiere platziert werden.
    Sollten die Werke konsumiert werden, haftet der Künstler nicht für eventuelle Schäden.</marquee>
  <a class="footer__link" href="/impressum" alt="Erfahren Sie alles Rechtliche zu www.samuelbiebel.de"><u>IMPRESSUM</u></a>
</div>

<div class="body__overlay"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="../javascripts/lightbox.js"></script>
<script type="text/javascript" src="../javascripts/navbar.js"></script>
<script type="text/javascript" src="../javascripts/carousel.js"></script>
<script type="text/javascript" src="../javascripts/events.js"></script>
<script type="text/javascript" src="../javascripts/eventscarousel.js"></script>
<script type="text/javascript" src="../javascripts/galery.js"></script>
<script type="text/javascript" src="../javascripts/contact.js"></script>

</body>
</html>
