<div class="navbar">
  <nav class="navbar__wrapper">
    <a href="/"><img class="navbar__wrapper__item logo hover" src="../images/styles/logo-transparent.svg" alt="Logo/Stempel Samuel Biebel aka. Ruepel" title="Samuel Biebel aka. Ruepel"></a>

    <ul class="navbar__wrapper__item navbar__sociallist">
      <li class="hover"><a class="navbar__instagram" target="_blank" href="https://www.instagram.com/ruepel67/"><span class="fa-brands fa-instagram"></span></a></li>
      <li class="hover"><span class="fa-brands fa-telegram"></span></li>
      <li class="navbar__toggler"><span class="fa-solid fa-bars"></span></li
    </ul>
  </nav>

  <nav class="navbar__container dropshadow boxshadow">
    <ul class="navbar__wrapper__item navbar__list">
      <li class="navbar__list__item"><a class="navbar__list__item__link textshadow" href="/events" alt="Entdecken Sie neue Veranstaltungen von Samuel Biebel aka. Ruepel.">Events</a></li>
      <li class="navbar__list__item"><a class="navbar__list__item__link textshadow"href="/galerie" alt="Sehen Sie die neusten Serien der Kunstwerke von Samuel Biebel aka. Ruepel">Galerie</a></li>
      <li class="navbar__list__item"><a class="navbar__list__item__link textshadow" href="/ueber-mich" alt="Erfahren Sie mehr über Samuel Biebel aka. Ruepel">Über mich</a></li>
      <li class="navbar__list__item"><a class="navbar__list__item__link textshadow"href="/kontakt" alt="Nehmen Sie Kontakt zu Samuel Biebel aka. Ruepel auf">Kontakt</a></li>
    </ul>
  </nav>
</div>
